@model AccountShared.ViewModels.LoginModel


<h3>Login Page</h3>
<form asp-controller="Account" asp-action="Login" method="post" id="loginForm">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" asp-for="Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Google">Sign in with Google</a>
<a asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Facebook">Sign in with Facebook</a>

    
@section Scripts {

    <partial name="_ValidationScriptsPartial">
}
