@using Microsoft.AspNetCore.Identity;
@model Microsoft.AspNetCore.Http.IFormFile

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (User.Identity!.IsAuthenticated)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/weather/weather" class="btn btn-info">Weather List</a>
    </div>
}

<div>
    <h2>Upload Image</h2>
    <form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Select Image:</label>
            <input type="file" name="file" id="file" class="form-control-file" />
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
</div>

<div>
    <h2>Read Image</h2>
    <form asp-action="ReadFile" asp-controller="Home"  enctype="multipart/form-data">
       
        <button type="submit" class="btn btn-primary">Read Image</button>
    </form>
</div>




